.section-medical {
    height: 300px;
    // border: 1px solid red;
    background: url('../../../assets/140309-background3.png');
  
    .medical-content {
      margin: 20px 50px;
      width: 80%;
      margin: 0 auto
    }
  
    .medical-header {
      height: 50px;
      // border: 1px solid black;

      display: flex;
      flex-direction: column-reverse;
      position: relative;
  
      button {
          width: 10%;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #68d3ee;
          border-radius: 19px;
          border: none;
          cursor: pointer;
          color: white;
          padding: 4px 0;
          margin-top: 8px
      }
  
      span {
          font-size: 20px;
      }
    }
  
    .medical-body {
      // border: 1px solid rgb(192, 226, 21);
      height: 100%;
      width: 25%;
      margin: 0 1px;
  
      img {
        display: block;
        height: 40%;
        width:54%;
        // border: 1px solid rgb(255, 0, 195);
        margin: 16px 0 ;
      }
    }
  }
  
  .slick-arrow.slick-prev {
    left: 0 !important;
    background: #68d3ee;
    z-index: 1;
    height: 48px !important;
    width: 44px !important;
    left: -10px !important;
  
    &:hover {
      background: rgb(194, 194, 194);
      color: rgb(255, 255, 255) !important;
    }
  }
  .slick-arrow.slick-prev::before {
    font-family: "Font Awesome 5 Free" !important;
    color: rgb(255, 255, 255) !important;
  }
  
  .slick-arrow.slick-next {
    right: 0 !important;
    background: #68d3ee;
    height: 48px !important;
    width: 44px !important;
  
    &:hover {
      background: rgb(194, 194, 194);
      color: rgb(255, 255, 255) !important;
    }
  }
  .slick-arrow.slick-next::before {
    font-family: "Font Awesome 5 Free" !important;
    color: rgb(255, 255, 255) !important;
  }
  